<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>World Data</title>
</head>
<body>
  <div class="container">
    <h1 class="jumbotron">Data</h1>
    <ol>
    @foreach(var data in Model)
    {
      <li>@data.GetCountry()</li>
    }
  </ol>
  </div>
</body>
</html>
