<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>World Data</title>
</head>
<body>
  <div class="container">
    <h1 class="jumbotron">Country List</h1>
    <form class="" action="/data" method="post">
      <div>
        <input type="radio"
        name="order" value="DESC" />
        <label for="ORDER">Descending Order</label>
      </div>
      <div>
        <input type="radio"
        name="order" value="ASC"/>
        <label for="ORDER">Ascending Order</label>
      </div>
      <button type="submit">Sort</button>
    </form>

    <form class="" action="/continent" method="post">
      <select class="form-control" name="continent">
        <option></option>
        <option value="Europe">Euope</option>
      </select>
      <button type="submit">Sort</button>
    </form>
    <ol>
      @foreach(var data in Model)
      {
        <li>@data.GetCountry()</li>
      }
    </ol>
  </div>
</body>
</html>
